---
import Counter from '../components/Counter';
import styles from "flatpickr/dist/themes/light.css";

const ONE_WEEK_IN_SECONDS = 60 * 60 * 24 * 7;
Astro.response.headers.set(
  "Cache-Control",
  `public, s-maxage=30, stale-while-revalidate=${ONE_WEEK_IN_SECONDS}`
);
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<style>
			html,
			body {
				font-family: system-ui;
				margin: 0;
			}
			body {
				padding: 2rem;
			}
		</style>
	</head>
	<body>
		<main>
			<Counter client:load>
				<h1>Hello, Solid!</h1>
			</Counter>
		</main>
	</body>
</html>
